.relatedItemsPanel {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
}
.mainItemPanel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-bottom: 30px;
}
.mainItemImage {
  border: grey 2px solid;
}
.headerPanelLabel {
  margin: 10px;
}
